flow.json
[{"id":"20091061.910c58","type":"tab","label":"ヒーター１","disabled":false,"info":""},{"id":"164aef95.342618","type":"tab","label":"ヒーター２","disabled":false,"info":""},{"id":"68195d99.13ef3c","type":"tab","label":"クーラー","disabled":false,"info":""},{"id":"9a9ee3f1.76ec1","type":"tab","label":"スイッチ/LCD 制御","disabled":false,"info":""},{"id":"da1f2127.e2984","type":"tab","label":"broker","disabled":false,"info":""},{"id":"97202b63.b3a7","type":"subflow","name":"LCD","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"54ed0b57.abc65c"}]}],"out":[{"x":780,"y":120,"wires":[{"id":"c3c89b2d.f3b888","port":0},{"id":"51568329.597fbc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f81ca018.41c5e8","type":"subflow","name":"PID","info":"","category":"","in":[{"x":100,"y":220,"wires":[{"id":"cffe8aff.089c18"}]}],"out":[{"x":880,"y":140,"wires":[{"id":"cffe8aff.089c18","port":0}]},{"x":880,"y":220,"wires":[{"id":"bb9a801f.5afb3","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["power","onoff"]},{"id":"cecd4769.0ee5","type":"subflow","name":"Subflow 1","info":"","in":[{"x":480,"y":280,"wires":[{"id":"a27b8f10.b191b"}]}],"out":[]},{"id":"ddc9ed7b.75ef4","type":"group","z":"20091061.910c58","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["400b3186.dd889","55758541.529b6c","58ed6311.11e4ac","6f80f44f.52bcb4","6e28a7aa.7a7ec8"],"x":1214,"y":79,"w":352,"h":222},{"id":"2d85193d.87d16e","type":"group","z":"9a9ee3f1.76ec1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3dea8dce.27dd12","d402f02.2e0b39","badd90cb.ae8a2","8c9470f9.c2e698","153bde95.b00e51","1df44334.3fad3d","3a5cfaaa.57b4ce","f27e8064.8ba3a","b19a51f4.e13df8","6df9aef1.587df","a63de83e.507d68","4d16b76b.3667f8","c2339e52.98c448","b8188c06.322528"],"x":134,"y":159,"w":1032,"h":402},{"id":"7b550a0c.06b7c4","type":"group","z":"164aef95.342618","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b581d071.61d46","8c343d81.36727","2e15fcce.2559bc","23b8eca6.1d30dc","f906c43c.042ff"],"x":1254,"y":99},{"id":"d4a50fec.43bf8","type":"group","z":"164aef95.342618","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["738d71a.921d69","1af9c9f9.774f16","9441725f.092e3"],"x":1254,"y":419},{"id":"c8090c64.e15b3","type":"group","z":"20091061.910c58","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5d3cb0b1.047de8","4f765b9.594ce24","e69d1435.886be"],"x":1214,"y":379,"w":372,"h":142},{"id":"a5422271.2db4b8","type":"group","z":"9a9ee3f1.76ec1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7742770b.547e88","676de72.56ed518","1355d7c3.5966","2fd25555.27a6aa","e7ee8457.141dd","118286e2.206ef1","61b51527.b2865c","30f6b6f6.c607e2","a0a7e3fb.b1bb98","938af754.031b7","856ad18f.903638","55c05104.3da48","e8b2a4b5.f7d4f8","e4d72160.2edb58"],"x":134,"y":679,"w":872,"h":262},{"id":"487116dc.1b0ce8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"0xa6","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"7","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"3730c4ae.5c13cc","type":"ui_tab","z":"","name":"ヒーター制御","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4bd1478e.4e6f98","type":"ui_group","z":"","name":"ヒーター１","tab":"3730c4ae.5c13cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"74bd6e2f.0457","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d29dcf95.714f28","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3b300ef2.4896c2","type":"ui_group","z":"","name":"ヒーター２","tab":"3730c4ae.5c13cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"e851e3d0.fb4c28","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"0xa6","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"7","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"6ec127a2.3348d8","type":"ui_spacer","name":"spacer","group":"4bd1478e.4e6f98","order":10,"width":4,"height":1},{"id":"5693d058.beb4d","type":"ui_spacer","name":"spacer","group":"3b300ef2.4896c2","order":9,"width":6,"height":1},{"id":"619481ad.e919e","type":"serial in","z":"20091061.910c58","name":"","serial":"487116dc.1b0ce8","x":130,"y":120,"wires":[["f4836920.86ee2"]]},{"id":"400b3186.dd889","type":"ui_chart","z":"20091061.910c58","g":"ddc9ed7b.75ef4","name":"","group":"4bd1478e.4e6f98","order":5,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1490,"y":220,"wires":[[]]},{"id":"5d3cb0b1.047de8","type":"rpi-gpio out","z":"20091061.910c58","g":"c8090c64.e15b3","name":"ヒーター36","pin":"36","set":true,"level":"1","freq":"","out":"out","x":1490,"y":480,"wires":[]},{"id":"55758541.529b6c","type":"function","z":"20091061.910c58","g":"ddc9ed7b.75ef4","name":"power","func":"msg.topic = \"power\"\nmsg.payload = msg.payload * 40\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":220,"wires":[[]]},{"id":"58ed6311.11e4ac","type":"function","z":"20091061.910c58","g":"ddc9ed7b.75ef4","name":"onoff","func":"msg.topic = \"ONOFF\"\n\nmsg.payload = msg.payload ? 0 : 20\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":260,"wires":[[]]},{"id":"faeaaa13.0d1348","type":"ui_slider","z":"20091061.910c58","name":"setpoint","label":"設定温度","tooltip":"","group":"4bd1478e.4e6f98","order":1,"width":6,"height":1,"passthru":false,"outs":"end","topic":"setpoint","min":"20","max":"150","step":1,"x":1120,"y":860,"wires":[["aafeff62.e4d638"]]},{"id":"6f80f44f.52bcb4","type":"ui_gauge","z":"20091061.910c58","g":"ddc9ed7b.75ef4","name":"","group":"4bd1478e.4e6f98","order":4,"width":6,"height":4,"gtype":"gage","title":"温度","label":"℃","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1490,"y":140,"wires":[]},{"id":"3416457b.5d2f02","type":"ui_text_input","z":"20091061.910c58","name":"","label":"P","tooltip":"","group":"4bd1478e.4e6f98","order":6,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"prop_band","x":1130,"y":940,"wires":[["23095c71.fc2154"]]},{"id":"1eeac1cc.c5e56e","type":"ui_text_input","z":"20091061.910c58","name":"","label":"I","tooltip":"","group":"4bd1478e.4e6f98","order":7,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"t_integral","x":1130,"y":980,"wires":[["31c5c1d0.16c8be"]]},{"id":"f57dc152.fede58","type":"ui_text_input","z":"20091061.910c58","name":"","label":"D","tooltip":"","group":"4bd1478e.4e6f98","order":8,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"t_derivative","x":1130,"y":1020,"wires":[["c70616bf.f5509"]]},{"id":"4f765b9.594ce24","type":"ui_led","z":"20091061.910c58","g":"c8090c64.e15b3","group":"4bd1478e.4e6f98","order":2,"width":3,"height":1,"label":"ヒーター","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"white","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1470,"y":420,"wires":[]},{"id":"c3c89b2d.f3b888","type":"function-npm","z":"97202b63.b3a7","name":"init","func":"// var sleep = require('sleep');  //var sleep = require('system-sleep');\n// var i2c = require('i2c-bus'),\n\nlet sleep = new global.get('sleep') \nlet i2c = new global.get('i2c')\n\nlet i2c_dev = i2c.openSync(1)\n  \n  \nvar I2C_LCD_ADRS = 0x3E;\n // 2行表示の先頭の DDRAM address\nvar DDRAM_ADRS_LIST = [\n  0x00,  // 0行目\n  0x40   // 1行目\n];\n\n // LCDコマンド送信\nfunction lcd_send_command(lcd_command) {\n  i2c_dev.writeByteSync(I2C_LCD_ADRS, 0x00, lcd_command);\n  // 1ms > 26.3us\n  sleep.msleep(1);\n}\n\n // LCDデータ送信\nfunction lcd_data(lcd_data) {\n  i2c_dev.writeByteSync(I2C_LCD_ADRS, 0x40, lcd_data);\n}\n\n // LCDカーソル位置設定\nfunction lcd_setCursor(x, y){\n  // DDRAM addres\n  lcd_send_command(0x80 | DDRAM_ADRS_LIST[y] | x);\n}\n\n // LCDクリア\nfunction lcd_clear() {\n  // 0x01 Clear Display\n  lcd_send_command(0x01);\n}\n\n // ST7032 LCD初期化\nfunction lcd_init() {\n\n  // 0x38 Function Set\n  lcd_send_command(0x38);\n\n  // 0x38 Function Set(instruction table select = 1)\n  lcd_send_command(0x39);\n  // 0x10 Internal OSC frequency\n  lcd_send_command(0x10);\n  // 0x70 Contrast set\n  lcd_send_command(0x7C);\n  // 0x50 Power/ICON control/Contrast set\n  lcd_send_command(0x55);\n  // 0x60 Follower control\n  lcd_send_command(0x6C);\n  // 250ms > 200ms\n  sleep.msleep(250);\n\n  // 0x38 Function Set\n  lcd_send_command(0x38);\n  // 0x08 Display ON/OFF control\n  lcd_send_command(0x0F - 3);\n\n  // Initialization end\n}\n\n // 文字列出力\nfunction lcd_print(message) {\n  for(var i = 0; i < message.length; ++i) {\n    lcd_data(message.charCodeAt(i));\n  }\n}\n\n//------------------\n  \n// LCD初期化\nlcd_init();\n// LCDクリア\nlcd_clear();\n// 1行目\nlcd_setCursor(0, 0);\n  \n  \nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"54ed0b57.abc65c","type":"switch","z":"97202b63.b3a7","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[["c3c89b2d.f3b888"],["51568329.597fbc"]]},{"id":"51568329.597fbc","type":"function-npm","z":"97202b63.b3a7","name":"print","func":"// var sleep = require('sleep'); //require('system-sleep');\n// var i2c = require('i2c-bus'),\n\nlet sleep = new global.get('sleep') \nlet i2c = new global.get('i2c')\n\nlet i2c_dev = i2c.openSync(1)\n  \n  \nvar I2C_LCD_ADRS = 0x3E;\n // 2行表示の先頭の DDRAM address\nvar DDRAM_ADRS_LIST = [\n  0x00,  // 0行目\n  0x40   // 1行目\n];\n\n // LCDコマンド送信\nfunction lcd_send_command(lcd_command) {\n  i2c_dev.writeByteSync(I2C_LCD_ADRS, 0x00, lcd_command);\n  // 1ms > 26.3us\n  sleep.msleep(1);\n}\n\n // LCDデータ送信\nfunction lcd_data(lcd_data) {\n  i2c_dev.writeByteSync(I2C_LCD_ADRS, 0x40, lcd_data);\n}\n\n // LCDカーソル位置設定\nfunction lcd_setCursor(x, y){\n  // DDRAM addres\n  lcd_send_command(0x80 | DDRAM_ADRS_LIST[y] | x);\n}\n\n // LCDクリア\nfunction lcd_clear() {\n  // 0x01 Clear Display\n  lcd_send_command(0x01);\n}\n\n // ST7032 LCD初期化\nfunction lcd_init() {\n\n  // 0x38 Function Set\n  lcd_send_command(0x38);\n\n  // 0x38 Function Set(instruction table select = 1)\n  lcd_send_command(0x39);\n  // 0x10 Internal OSC frequency\n  lcd_send_command(0x10);\n  // 0x70 Contrast set\n  lcd_send_command(0x7C);\n  // 0x50 Power/ICON control/Contrast set\n  lcd_send_command(0x55);\n  // 0x60 Follower control\n  lcd_send_command(0x6C);\n  // 250ms > 200ms\n  sleep.msleep(250);\n\n  // 0x38 Function Set\n  lcd_send_command(0x38);\n  // 0x08 Display ON/OFF control\n  lcd_send_command(0x0F);\n\n  // Initialization end\n}\n\n // 文字列出力\nfunction lcd_print(message) {\n  for(var i = 0; i < message.length; ++i) {\n    lcd_data(message.charCodeAt(i));\n  }\n}\n\n//------------------\n\nif (typeof msg.payload === \"string\") {\n    \n    lcd_print(msg.payload)\n    \n} else {\n\n    let x = msg.payload.x || 0\n    let y = msg.payload.y || 0\n\n    lcd_setCursor(x, y);\n    \n    if (msg.payload.msg) {\n        lcd_print(msg.payload.msg)\n    } else {\n        lcd_clear()\n    }\n    \n}\n  \nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":450,"y":160,"wires":[[]]},{"id":"257ed46e.befddc","type":"mqtt out","z":"20091061.910c58","name":"","topic":"/temp/1","qos":"","retain":"","broker":"d29dcf95.714f28","x":460,"y":120,"wires":[]},{"id":"55624f7e.0af808","type":"mqtt in","z":"20091061.910c58","name":"","topic":"/temp/1","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":630,"y":120,"wires":[["6e28a7aa.7a7ec8","aea2a553.fa0aa","aad6a2c2.dab6c"]]},{"id":"cffe8aff.089c18","type":"PID","z":"f81ca018.41c5e8","name":"","setpoint":"0","pb":"1","ti":"9999","td":"0","integral_default":"0","smooth_factor":"1","max_interval":"60","enable":1,"disabled_op":0,"x":550,"y":220,"wires":[["bb9a801f.5afb3"]]},{"id":"bb9a801f.5afb3","type":"timeprop","z":"f81ca018.41c5e8","name":"","cycleTime":"60","deadTime":0,"triggerPeriod":"1","invert":true,"x":740,"y":220,"wires":[[]]},{"id":"aea2a553.fa0aa","type":"subflow:f81ca018.41c5e8","z":"20091061.910c58","name":"","env":[],"x":830,"y":340,"wires":[["55758541.529b6c"],["58ed6311.11e4ac","e69d1435.886be"]]},{"id":"6e28a7aa.7a7ec8","type":"function","z":"20091061.910c58","g":"ddc9ed7b.75ef4","name":"in","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":120,"wires":[["6f80f44f.52bcb4","400b3186.dd889"]]},{"id":"3dea8dce.27dd12","type":"rpi-gpio in","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","pin":"37","intype":"down","debounce":"25","read":true,"x":220,"y":280,"wires":[["c2339e52.98c448"]]},{"id":"d402f02.2e0b39","type":"rpi-gpio in","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","pin":"35","intype":"down","debounce":"25","read":true,"x":220,"y":420,"wires":[["b8188c06.322528"]]},{"id":"badd90cb.ae8a2","type":"rpi-gpio in","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","pin":"33","intype":"down","debounce":"25","read":true,"x":220,"y":200,"wires":[["b19a51f4.e13df8"]]},{"id":"8c9470f9.c2e698","type":"join","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":400,"wires":[["153bde95.b00e51"]]},{"id":"153bde95.b00e51","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"++--","func":"\nlet l = msg.payload\n\nif (l[\"pi/37\"]) {\n    msg.payload = \"+\"\n} else if (l[\"pi/35\"]) {\n    msg.payload = \"-\"\n} else {\n    msg.reset = true\n}\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":400,"wires":[["1df44334.3fad3d"]]},{"id":"1df44334.3fad3d","type":"trigger","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-300","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":720,"y":380,"wires":[["f27e8064.8ba3a"]]},{"id":"3a5cfaaa.57b4ce","type":"mqtt out","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","topic":"","qos":"","retain":"","broker":"d29dcf95.714f28","x":1090,"y":380,"wires":[]},{"id":"7d13e7a1.74c1","type":"function","z":"20091061.910c58","name":"get prop","func":"\n// msg.setpoint = flow.get(\"setpoint\") || 20\n\n// msg.prop_band = flow.get(\"prop_band\") || 1\n// msg.t_integral = flow.get(\"t_integral\") || 9999\n// msg.t_derivative = flow.get(\"t_derivative\") || 0\n\n\nmsg.setpoint = msg.setpoint || 20\n\nmsg.prop_band = msg.prop_band || 1\nmsg.t_integral = msg.t_integral || 9999\nmsg.t_derivative = msg.t_derivative || 0\n\nmsg.topic = \"setpoint\"\nmsg.payload = msg.setpoint\n\nreturn [\n    msg,\n    \n    { payload: msg.setpoint },\n    { payload: msg.prop_band },\n    { payload: msg.t_integral },\n    { payload: msg.t_derivative }\n    \n]","outputs":5,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["aea2a553.fa0aa"],["faeaaa13.0d1348","191f4ad2.3fc58d"],["3416457b.5d2f02"],["1eeac1cc.c5e56e"],["f57dc152.fede58"]]},{"id":"bcf1b250.916d3","type":"inject","z":"20091061.910c58","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["c5ec18c4.a8d3e","7939ddd3.de65cc"]]},{"id":"30066cd.9340b14","type":"mqtt in","z":"cecd4769.0ee5","name":"","topic":"/test","qos":"0","datatype":"auto","broker":"d29dcf95.714f28","x":490,"y":560,"wires":[["78d1f04c.5dca58"]]},{"id":"a27b8f10.b191b","type":"function","z":"cecd4769.0ee5","name":"","func":"flow.set(\"test\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":400,"wires":[[]]},{"id":"78d1f04c.5dca58","type":"function","z":"cecd4769.0ee5","name":"","func":"let t = flow.get(\"test\")\n\nconsole.log(t)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":560,"wires":[[]]},{"id":"5c027d7e.c129a4","type":"mqtt in","z":"20091061.910c58","name":"","topic":"/switch/1","qos":"0","datatype":"auto","broker":"d29dcf95.714f28","x":100,"y":880,"wires":[["c3603662.2698c"]]},{"id":"f66e456f.e94a28","type":"function","z":"20091061.910c58","name":"updown","func":"let temp = msg.setpoint || 20\n\nlet cmd = msg.payload \n\nswitch (cmd) {\ncase \"+\":\n    temp++;\n    break;\ncase \"-\":\n    temp--;\n    break;\n}\n\nif (temp > 200) {\n    temp = 200\n} else if (temp < 20) {\n    temp = 20\n}\n    \n// flow.set(\"setpoint\", temp) \n\nmsg.payload = temp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":880,"wires":[["bc9f9e39.86c34"]]},{"id":"191f4ad2.3fc58d","type":"mqtt out","z":"20091061.910c58","name":"","topic":"/setpoint/1","qos":"","retain":"","broker":"d29dcf95.714f28","x":1130,"y":800,"wires":[]},{"id":"f27e8064.8ba3a","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"/swich/index","func":"let index = flow.get(\"index\")\n\n\nmsg.topic = \"/switch/\" + index\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":380,"wires":[["3a5cfaaa.57b4ce"]]},{"id":"b19a51f4.e13df8","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"toggle","func":"if (msg.payload == 0) return null\n\n// msg.payload = \"set\"\n\nlet index = flow.get(\"index\") || 1\n\nindex = index + 1\n\nif (index > 3) {\n    index = 1\n} //== 1 ? 2 : 1\n\nflow.set(\"index\", index) \n\nmsg.payload = index\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[[]]},{"id":"7742770b.547e88","type":"subflow:97202b63.b3a7","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","env":[],"x":690,"y":820,"wires":[["e8b2a4b5.f7d4f8"]]},{"id":"676de72.56ed518","type":"function","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"get","func":"let cur = 1\n\nlet index = flow.get(\"index\") || 1\n\nlet setpoint = flow.get(\"/setpoint/\" + cur) || \" --\"\nlet temp = flow.get(\"/temp/\" + cur) || \" --\"\n\nsetpoint = (\"   \" + setpoint).slice(-3)\ntemp = (\"   \" + temp).slice(-3)\n\nlet power = flow.get(\"/power/1\") || false\n\nlet disp = (index == cur ? \">\" : \" \")\n\n\ndisp += \"1:\"\ndisp += temp + \"C\"\ndisp += \" \"\n\ndisp += setpoint + \"T\"\n\ndisp += \" \"\ndisp += (power ? \" ON\" : \"OFF\")\n\ndisp += \"        \"\n\nmsg.payload = {x: 0, y: 0, msg: disp}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":820,"wires":[["7742770b.547e88"]]},{"id":"1355d7c3.5966","type":"subflow:97202b63.b3a7","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","env":[],"x":390,"y":720,"wires":[["e7ee8457.141dd"]]},{"id":"c3b4dcc1.464328","type":"mqtt in","z":"9a9ee3f1.76ec1","name":"","topic":"/setpoint/#","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":240,"y":1120,"wires":[["2c3f77b1.974d4"]]},{"id":"91a20c72.90f7f8","type":"mqtt in","z":"9a9ee3f1.76ec1","name":"","topic":"/temp/#","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":230,"y":1200,"wires":[["2c3f77b1.974d4"]]},{"id":"2c3f77b1.974d4","type":"function","z":"9a9ee3f1.76ec1","name":"set","func":"flow.set(msg.topic, msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1160,"wires":[[]]},{"id":"2fd25555.27a6aa","type":"subflow:97202b63.b3a7","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","env":[],"x":930,"y":820,"wires":[[]]},{"id":"e7ee8457.141dd","type":"function","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"set","func":"flow.set(\"index\", 1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":720,"wires":[[]]},{"id":"118286e2.206ef1","type":"inject","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"init","payload":"","payloadType":"date","x":230,"y":720,"wires":[["1355d7c3.5966"]]},{"id":"26ab309.811d1d","type":"mosca in","z":"da1f2127.e2984","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":230,"y":540,"wires":[[]]},{"id":"f8b65174.7392f","type":"mqtt out","z":"164aef95.342618","name":"","topic":"/temp/2","qos":"","retain":"","broker":"d29dcf95.714f28","x":520,"y":140,"wires":[]},{"id":"61b51527.b2865c","type":"inject","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"loop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.3","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":230,"y":820,"wires":[["30f6b6f6.c607e2"]]},{"id":"f4836920.86ee2","type":"function","z":"20091061.910c58","name":"celsius","func":"let dt = msg.payload\n\nif (dt[0] === 0xa6 && dt[1] === 0x7c) {\n\n\n// float mcp9600_celsius_degree_from_raw(uint16_t raw) {\n//   if (raw & 0x8000) {\n//     return (float)((int16_t)raw) / 16.f;\n//   } else {\n//     return (float)(raw & 0x7fff) / 16.f;\n//   }\n// }\n\n    let raw = (dt[3] << 8) + dt[4]\n    let ret = 0\n    \n    if (raw & 0x8000) {\n        ret = raw / 16.0\n    } else {\n        ret = (raw & 0x7fff) / 16.0\n    }    \n    \n    \n    msg.payload = Math.round(ret)\n    \n    return msg;    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":120,"wires":[["257ed46e.befddc"]]},{"id":"17f761f8.2922c6","type":"function","z":"164aef95.342618","name":"celsius","func":"let dt = msg.payload\n\nif (dt[0] === 0xa6 && dt[1] === 0x7c) {\n\n\n// float mcp9600_celsius_degree_from_raw(uint16_t raw) {\n//   if (raw & 0x8000) {\n//     return (float)((int16_t)raw) / 16.f;\n//   } else {\n//     return (float)(raw & 0x7fff) / 16.f;\n//   }\n// }\n\n    let raw = (dt[3] << 8) + dt[4]\n    let ret = 0\n    \n    if (raw & 0x8000) {\n        ret = raw / 16.0\n    } else {\n        ret = (raw & 0x7fff) / 16.0\n    }    \n    \n    \n    msg.payload = Math.round(ret)\n    \n    return msg;    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["f8b65174.7392f"]]},{"id":"6289f21e.88db54","type":"serial in","z":"164aef95.342618","name":"","serial":"e851e3d0.fb4c28","x":150,"y":140,"wires":[["17f761f8.2922c6"]]},{"id":"aafeff62.e4d638","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"#:(file)::setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":860,"wires":[["ad88e87d.cae9c8"]]},{"id":"23095c71.fc2154","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"#:(file)::prop_band","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":940,"wires":[["ad88e87d.cae9c8"]]},{"id":"31c5c1d0.16c8be","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"#:(file)::t_integral","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":980,"wires":[["ad88e87d.cae9c8"]]},{"id":"c70616bf.f5509","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"#:(file)::t_derivative","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1020,"wires":[["ad88e87d.cae9c8"]]},{"id":"ad88e87d.cae9c8","type":"function","z":"20091061.910c58","name":"nop","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":860,"wires":[["c5ec18c4.a8d3e"]]},{"id":"bc9f9e39.86c34","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"#:(file)::setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":880,"wires":[["c5ec18c4.a8d3e"]]},{"id":"c5ec18c4.a8d3e","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"setpoint","pt":"msg","to":"#:(file)::setpoint","tot":"flow"},{"t":"set","p":"prop_band","pt":"msg","to":"#:(file)::prop_band","tot":"flow"},{"t":"set","p":"t_integral","pt":"msg","to":"#:(file)::t_integral","tot":"flow"},{"t":"set","p":"t_derivative","pt":"msg","to":"#:(file)::t_derivative","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["7d13e7a1.74c1"]]},{"id":"c3603662.2698c","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"setpoint","pt":"msg","to":"#:(file)::setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":880,"wires":[["f66e456f.e94a28"]]},{"id":"aad6a2c2.dab6c","type":"change","z":"20091061.910c58","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":60,"wires":[[]]},{"id":"30f6b6f6.c607e2","type":"switch","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","property":"index","propertyType":"flow","rules":[{"t":"btwn","v":"1","vt":"num","v2":"2","v2t":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":820,"wires":[["676de72.56ed518"],["a0a7e3fb.b1bb98"]]},{"id":"a0a7e3fb.b1bb98","type":"function","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"cooler","func":"let cooler = flow.get(\"/cooler\") || false\n\nlet disp = \"Cooler: \" + (cooler ? \"ON\" : \"OFF\")\ndisp += \"                   \"\nmsg.payload = {x: 0, y: 0, msg: disp}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":900,"wires":[["938af754.031b7"]]},{"id":"938af754.031b7","type":"subflow:97202b63.b3a7","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","env":[],"x":690,"y":900,"wires":[["55c05104.3da48"]]},{"id":"856ad18f.903638","type":"subflow:97202b63.b3a7","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","env":[],"x":930,"y":900,"wires":[[]]},{"id":"55c05104.3da48","type":"function","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"cooler","func":"let disp = \"                   \"\n\nmsg.payload = {x: 0, y: 1, msg: disp}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":900,"wires":[["856ad18f.903638"]]},{"id":"7939ddd3.de65cc","type":"function","z":"20091061.910c58","name":"off","func":"flow.set(\"power\", false)\n\nmsg.payload = false\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["b3fd92ea.d6f81"]]},{"id":"6d375450.a3de2c","type":"mqtt in","z":"9a9ee3f1.76ec1","name":"","topic":"/power/#","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":240,"y":1280,"wires":[["2c3f77b1.974d4"]]},{"id":"1f71fcbc.a8a523","type":"mqtt in","z":"20091061.910c58","name":"","topic":"/switch/3","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":100,"y":980,"wires":[["cd61373.f469fc8"]]},{"id":"b3fd92ea.d6f81","type":"mqtt out","z":"20091061.910c58","name":"","topic":"/power/1","qos":"","retain":"","broker":"d29dcf95.714f28","x":440,"y":480,"wires":[]},{"id":"cd61373.f469fc8","type":"function","z":"20091061.910c58","name":"set power","func":"let power = flow.get(\"power\") || false\n\npower = !power\n\nflow.set(\"power\", power)\n\nmsg.payload = power\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":980,"wires":[["d250540c.1db98"]]},{"id":"d250540c.1db98","type":"mqtt out","z":"20091061.910c58","name":"","topic":"/power/1","qos":"","retain":"","broker":"d29dcf95.714f28","x":400,"y":980,"wires":[]},{"id":"a9002184.11504","type":"mqtt in","z":"164aef95.342618","name":"","topic":"/switch/4","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":160,"y":1000,"wires":[["c52f7f48.768738"]]},{"id":"c52f7f48.768738","type":"function","z":"164aef95.342618","name":"set power","func":"let power = flow.get(\"power\") || false\n\npower = !power\n\nflow.set(\"power\", power)\n\nmsg.payload = power\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1000,"wires":[["bb7515fa.afc418"]]},{"id":"bb7515fa.afc418","type":"mqtt out","z":"164aef95.342618","name":"","topic":"/power/2","qos":"","retain":"","broker":"d29dcf95.714f28","x":460,"y":1000,"wires":[]},{"id":"e69d1435.886be","type":"function","z":"20091061.910c58","g":"c8090c64.e15b3","name":"chk power","func":"let power = flow.get(\"power\")\n\nif (power === false) {\n    msg.payload = 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":420,"wires":[["5d3cb0b1.047de8","4f765b9.594ce24"]]},{"id":"eefd3ae9.7b3bb8","type":"mqtt in","z":"9a9ee3f1.76ec1","name":"","topic":"/cooler","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":230,"y":1360,"wires":[["2c3f77b1.974d4"]]},{"id":"208407a8.5bf328","type":"function","z":"164aef95.342618","name":"off","func":"flow.set(\"power\", false)\n\nmsg.payload = false\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["d0f16ab8.9ec178"]]},{"id":"64dc17d1.15cfe","type":"inject","z":"164aef95.342618","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["6f82f82e.b02ea","208407a8.5bf328"]]},{"id":"6f82f82e.b02ea","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"setpoint","pt":"msg","to":"#:(file)::setpoint","tot":"flow"},{"t":"set","p":"prop_band","pt":"msg","to":"#:(file)::prop_band","tot":"flow"},{"t":"set","p":"t_integral","pt":"msg","to":"#:(file)::t_integral","tot":"flow"},{"t":"set","p":"t_derivative","pt":"msg","to":"#:(file)::t_derivative","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":560,"wires":[["9c51de30.1cd27"]]},{"id":"cea4ae84.7eaaf8","type":"function","z":"164aef95.342618","name":"nop","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1670,"y":880,"wires":[["6f82f82e.b02ea"]]},{"id":"d8b15e3d.284c","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"#:(file)::setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":880,"wires":[["6f82f82e.b02ea"]]},{"id":"9c51de30.1cd27","type":"function","z":"164aef95.342618","name":"get prop","func":"\n// msg.setpoint = flow.get(\"setpoint\") || 20\n\n// msg.prop_band = flow.get(\"prop_band\") || 1\n// msg.t_integral = flow.get(\"t_integral\") || 9999\n// msg.t_derivative = flow.get(\"t_derivative\") || 0\n\n\nmsg.setpoint = msg.setpoint || 20\n\nmsg.prop_band = msg.prop_band || 1\nmsg.t_integral = msg.t_integral || 9999\nmsg.t_derivative = msg.t_derivative || 0\n\nmsg.topic = \"setpoint\"\nmsg.payload = msg.setpoint\n\nreturn [\n    msg,\n    \n    { payload: msg.setpoint },\n    { payload: msg.prop_band },\n    { payload: msg.t_integral },\n    { payload: msg.t_derivative }\n    \n]","outputs":5,"noerr":0,"initialize":"","finalize":"","x":720,"y":560,"wires":[["d7e35082.c24368"],["f62e6e5.cd5aa1","3c78a066.df069"],["28c6e637.42340a"],["c08606d5.30b61"],["b345248b.a42ca8"]]},{"id":"d0f16ab8.9ec178","type":"mqtt out","z":"164aef95.342618","name":"","topic":"/power/2","qos":"","retain":"","broker":"d29dcf95.714f28","x":480,"y":460,"wires":[]},{"id":"4a0c11d7.ec11f8","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"#:(file)::setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":880,"wires":[["cea4ae84.7eaaf8"]]},{"id":"1b6a1c79.49398c","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"#:(file)::prop_band","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":960,"wires":[["cea4ae84.7eaaf8"]]},{"id":"3378820d.b0e696","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"#:(file)::t_integral","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1000,"wires":[["cea4ae84.7eaaf8"]]},{"id":"eab8fa81.6de878","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"#:(file)::t_derivative","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1040,"wires":[["cea4ae84.7eaaf8"]]},{"id":"1ffc7c3.da48484","type":"function","z":"164aef95.342618","name":"updown","func":"let temp = msg.setpoint || 20\n\nlet cmd = msg.payload \n\nswitch (cmd) {\ncase \"+\":\n    temp++;\n    break;\ncase \"-\":\n    temp--;\n    break;\n}\n\nif (temp > 200) {\n    temp = 200\n} else if (temp < 20) {\n    temp = 20\n}\n    \n// flow.set(\"setpoint\", temp) \n\nmsg.payload = temp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":880,"wires":[["d8b15e3d.284c"]]},{"id":"d7e35082.c24368","type":"subflow:f81ca018.41c5e8","z":"164aef95.342618","name":"","env":[],"x":890,"y":420,"wires":[["b581d071.61d46"],["8c343d81.36727","738d71a.921d69"]]},{"id":"f62e6e5.cd5aa1","type":"mqtt out","z":"164aef95.342618","name":"","topic":"/setpoint/2","qos":"","retain":"","broker":"d29dcf95.714f28","x":1210,"y":820,"wires":[]},{"id":"3c78a066.df069","type":"ui_slider","z":"164aef95.342618","name":"setpoint","label":"設定温度","tooltip":"","group":"3b300ef2.4896c2","order":1,"width":6,"height":1,"passthru":false,"outs":"end","topic":"setpoint","min":"20","max":"150","step":1,"x":1200,"y":880,"wires":[["4a0c11d7.ec11f8"]]},{"id":"28c6e637.42340a","type":"ui_text_input","z":"164aef95.342618","name":"","label":"P","tooltip":"","group":"3b300ef2.4896c2","order":6,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"prop_band","x":1210,"y":960,"wires":[["1b6a1c79.49398c"]]},{"id":"c08606d5.30b61","type":"ui_text_input","z":"164aef95.342618","name":"","label":"I","tooltip":"","group":"3b300ef2.4896c2","order":7,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"t_integral","x":1210,"y":1000,"wires":[["3378820d.b0e696"]]},{"id":"b345248b.a42ca8","type":"ui_text_input","z":"164aef95.342618","name":"","label":"D","tooltip":"","group":"3b300ef2.4896c2","order":8,"width":2,"height":1,"passthru":false,"mode":"number","delay":300,"topic":"t_derivative","x":1210,"y":1040,"wires":[["eab8fa81.6de878"]]},{"id":"85bfda95.eb3ec","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"setpoint","pt":"msg","to":"#:(file)::setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["1ffc7c3.da48484"]]},{"id":"89d1ade8.df1438","type":"mqtt in","z":"164aef95.342618","name":"","topic":"/temp/2","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":690,"y":140,"wires":[["d7e35082.c24368","2e15fcce.2559bc","21ee0034.eb80b"]]},{"id":"b581d071.61d46","type":"function","z":"164aef95.342618","g":"7b550a0c.06b7c4","name":"power","func":"msg.topic = \"power\"\nmsg.payload = msg.payload * 40\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":240,"wires":[[]]},{"id":"8c343d81.36727","type":"function","z":"164aef95.342618","g":"7b550a0c.06b7c4","name":"onoff","func":"msg.topic = \"ONOFF\"\n\nmsg.payload = msg.payload ? 0 : 20\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":280,"wires":[[]]},{"id":"503edfe8.63a308","type":"mqtt in","z":"164aef95.342618","name":"","topic":"/switch/2","qos":"0","datatype":"auto","broker":"d29dcf95.714f28","x":160,"y":880,"wires":[["85bfda95.eb3ec"]]},{"id":"2e15fcce.2559bc","type":"function","z":"164aef95.342618","g":"7b550a0c.06b7c4","name":"in","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":140,"wires":[["f906c43c.042ff","23b8eca6.1d30dc"]]},{"id":"23b8eca6.1d30dc","type":"ui_chart","z":"164aef95.342618","g":"7b550a0c.06b7c4","name":"","group":"3b300ef2.4896c2","order":5,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1530,"y":240,"wires":[[]]},{"id":"738d71a.921d69","type":"function","z":"164aef95.342618","g":"d4a50fec.43bf8","name":"chk power","func":"let power = flow.get(\"power\")\n\nif (power === false) {\n    msg.payload = 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":460,"wires":[["1af9c9f9.774f16","9441725f.092e3"]]},{"id":"f906c43c.042ff","type":"ui_gauge","z":"164aef95.342618","g":"7b550a0c.06b7c4","name":"","group":"3b300ef2.4896c2","order":4,"width":0,"height":0,"gtype":"gage","title":"温度","label":"℃","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":160,"wires":[]},{"id":"1af9c9f9.774f16","type":"rpi-gpio out","z":"164aef95.342618","g":"d4a50fec.43bf8","name":"ヒーター38","pin":"40","set":true,"level":"1","freq":"","out":"out","x":1570,"y":520,"wires":[]},{"id":"9441725f.092e3","type":"ui_led","z":"164aef95.342618","g":"d4a50fec.43bf8","group":"3b300ef2.4896c2","order":2,"width":3,"height":1,"label":"ヒーター","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"white","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1550,"y":460,"wires":[]},{"id":"e8b2a4b5.f7d4f8","type":"function","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"get","func":"let cur = 2\n\nlet index = flow.get(\"index\") || 1\n\nlet setpoint = flow.get(\"/setpoint/\" + cur) || \" --\"\nlet temp = flow.get(\"/temp/\" + cur) || \" --\"\n\nsetpoint = (\"   \" + setpoint).slice(-3)\ntemp = (\"   \" + temp).slice(-3)\n\nlet power = flow.get(\"/power/2\") || false\n\nlet disp = (index == cur ? \">\" : \" \")\ndisp += \"2:\"\ndisp += temp + \"C\"\ndisp += \" \"\n\ndisp += setpoint + \"T\"\n\ndisp += \" \"\n\ndisp += (power ? \" ON\" : \"OFF\")\ndisp += \"        \"\n\nmsg.payload = {x: 0, y: 1, msg: disp}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":820,"wires":[["2fd25555.27a6aa"]]},{"id":"21ee0034.eb80b","type":"change","z":"164aef95.342618","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":80,"wires":[[]]},{"id":"a20f2c18.8a7ee8","type":"mqtt in","z":"68195d99.13ef3c","name":"","topic":"/switch/5","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":200,"y":660,"wires":[["56190008.c6e6b8"]]},{"id":"56190008.c6e6b8","type":"function","z":"68195d99.13ef3c","name":"cooler","func":"let power = flow.get(\"cooler\") || false\n\npower = !power\n\nflow.set(\"cooler\", power)\n\nmsg.payload = power\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":660,"wires":[["5d87b083.821e68"]]},{"id":"5d87b083.821e68","type":"mqtt out","z":"68195d99.13ef3c","name":"","topic":"/cooler","qos":"","retain":"","broker":"d29dcf95.714f28","x":500,"y":660,"wires":[]},{"id":"d7d0ad5d.921658","type":"rpi-gpio out","z":"68195d99.13ef3c","name":"クーラー24","pin":"18","set":true,"level":"1","freq":"","out":"out","x":1130,"y":320,"wires":[]},{"id":"e6d51e16.f63278","type":"ui_led","z":"68195d99.13ef3c","group":"4bd1478e.4e6f98","order":3,"width":3,"height":1,"label":"クーラー","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"aqua","value":"0","valueType":"num"},{"color":"white","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":380,"wires":[]},{"id":"d9bf90e1.48fc","type":"mqtt in","z":"68195d99.13ef3c","name":"","topic":"/cooler","qos":"0","datatype":"json","broker":"d29dcf95.714f28","x":470,"y":320,"wires":[["544d4f71.4cafb"]]},{"id":"544d4f71.4cafb","type":"function","z":"68195d99.13ef3c","name":"","func":"msg.payload = msg.payload ? 0 : 1\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["d7d0ad5d.921658","e6d51e16.f63278","65b4a702.9ad6f","f0db27d.48a1f58"]]},{"id":"65b4a702.9ad6f","type":"rpi-gpio out","z":"68195d99.13ef3c","name":"クーラー23","pin":"16","set":true,"level":"1","freq":"","out":"out","x":1130,"y":460,"wires":[]},{"id":"f0db27d.48a1f58","type":"ui_led","z":"68195d99.13ef3c","group":"3b300ef2.4896c2","order":3,"width":3,"height":1,"label":"クーラー","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"aqua","value":"0","valueType":"num"},{"color":"white","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":540,"wires":[]},{"id":"ab425281.bb132","type":"mqtt out","z":"68195d99.13ef3c","name":"","topic":"/cooler","qos":"","retain":"","broker":"d29dcf95.714f28","x":480,"y":180,"wires":[]},{"id":"b9fff7e2.f36b88","type":"function","z":"68195d99.13ef3c","name":"off","func":"flow.set(\"cooler\", false)\n\nmsg.payload = false\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["ab425281.bb132"]]},{"id":"cf78f5bd.977c8","type":"inject","z":"68195d99.13ef3c","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["b9fff7e2.f36b88"]]},{"id":"6df9aef1.587df","type":"rpi-gpio in","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","pin":"31","intype":"down","debounce":"25","read":true,"x":220,"y":520,"wires":[["a63de83e.507d68"]]},{"id":"a63de83e.507d68","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"/switch/index","func":"if (msg.payload == 0) return null\n\nlet index = 2 + (flow.get(\"index\") || 1)\n\nmsg.topic = \"/switch/\" + index\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":520,"wires":[["4d16b76b.3667f8"]]},{"id":"4d16b76b.3667f8","type":"mqtt out","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","topic":"","qos":"","retain":"","broker":"d29dcf95.714f28","x":650,"y":520,"wires":[]},{"id":"4af8b882.a3907","type":"inject","z":"164aef95.342618","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1420,"y":380,"wires":[["23b8eca6.1d30dc"]]},{"id":"8da064d6.0c9738","type":"inject","z":"20091061.910c58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1370,"y":360,"wires":[["400b3186.dd889"]]},{"id":"47d76837.9b69b8","type":"inject","z":"68195d99.13ef3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":620,"y":440,"wires":[["544d4f71.4cafb"]]},{"id":"9b78729a.741e88","type":"inject","z":"68195d99.13ef3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":630,"y":500,"wires":[["544d4f71.4cafb"]]},{"id":"c2339e52.98c448","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","func":"if (msg.payload == 0) {\n    msg.reset = true\n}\n\nmsg.payload = \"+\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["1df44334.3fad3d"]]},{"id":"b8188c06.322528","type":"function","z":"9a9ee3f1.76ec1","g":"2d85193d.87d16e","name":"","func":"if (msg.payload == 0) {\n    msg.reset = true\n}\n\nmsg.payload = \"-\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":340,"wires":[["1df44334.3fad3d"]]},{"id":"fb29c331.9fb86","type":"mqtt in","z":"20091061.910c58","name":"","topic":"/power/1","qos":"0","datatype":"auto","broker":"d29dcf95.714f28","x":1120,"y":480,"wires":[["e69d1435.886be"]]},{"id":"76bbeffd.f1725","type":"mqtt in","z":"164aef95.342618","name":"","topic":"/power/2","qos":"0","datatype":"auto","broker":"d29dcf95.714f28","x":1160,"y":520,"wires":[["738d71a.921d69"]]},{"id":"53dc2284.58a4ac","type":"rpi-gpio out","z":"9a9ee3f1.76ec1","name":"LED29","pin":"29","set":true,"level":"1","freq":"","out":"out","x":1290,"y":1580,"wires":[]},{"id":"e4d72160.2edb58","type":"inject","z":"9a9ee3f1.76ec1","g":"a5422271.2db4b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":900,"wires":[["30f6b6f6.c607e2"]]},{"id":"d84e19e4.2383a","type":"exec","z":"9a9ee3f1.76ec1","command":"pm2 stop led","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":1580,"wires":[["7bc3046f.315794"],[],[]]},{"id":"d4d0d24.ebabd3","type":"inject","z":"9a9ee3f1.76ec1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":1580,"wires":[["d84e19e4.2383a"]]},{"id":"7bc3046f.315794","type":"delay","z":"9a9ee3f1.76ec1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":1580,"wires":[["d765e8e0.1d877"]]},{"id":"d765e8e0.1d877","type":"change","z":"9a9ee3f1.76ec1","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1580,"wires":[["53dc2284.58a4ac"]]}]